/* upload.component.css */
.file-input input[type="file"] {
    display: none; /* Oculta el input real */
  }
  
  .file-input button {
    margin-right: 8px;
  }

  .file-input-alter button {
    margin-top: auto;
    margin-left: auto;
    margin-right: 0;    
    float: right;
  }

  .title_center {
   /*  margin-top: 8px; */
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }