.title_center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }


  .demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }


  .element {
    position: relative;
    left: 0; /* Alinea los elementos a la izquierda */
    margin-right: 10px; /* Espacio entre los elementos si es necesario */
  }

  .container {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
  }