<mat-card class="title_center">
  <mat-card-title>Historico Facturas</mat-card-title>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-spinner *ngIf="showSpinner" value="spinnerValue" strokeWidth="3" [diameter]="40"></mat-spinner>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="RecLoc">
        <th mat-header-cell *matHeaderCellDef>RecLoc</th>
        <td mat-cell *matCellDef="let element">{{element.RecLoc}}</td>
      </ng-container>


      <ng-container matColumnDef="NumeroControl">
        <th mat-header-cell *matHeaderCellDef>Numero Fact.</th>
        <td mat-cell *matCellDef="let element">{{element.NumeroControl}}</td>
      </ng-container>

      <ng-container matColumnDef="CodigoGeneracion">
        <th mat-header-cell *matHeaderCellDef>Codigo Generacion</th>
        <td mat-cell *matCellDef="let element">{{element.CodigoGeneracion}}</td>
      </ng-container>



      <!-- Symbol Column -->
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>FirstName</th>
        <td mat-cell *matCellDef="let element">{{element.FirstName}}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>LastName</th>
        <td mat-cell *matCellDef="let element">{{element.LastName}}</td>
      </ng-container>

      <ng-container matColumnDef="BookingDate">
        <th mat-header-cell *matHeaderCellDef>BookingDate</th>
        <td mat-cell *matCellDef="let element">{{element.BookingDate | date}}</td>
      </ng-container>

      <ng-container matColumnDef="Base">
        <th mat-header-cell *matHeaderCellDef>Base</th>
        <td mat-cell *matCellDef="let element">{{element.Base | currency}}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="SV">
        <th mat-header-cell *matHeaderCellDef>Iva</th>
        <td mat-cell *matCellDef="let element">{{element.SV | currency}}</td>
      </ng-container>

      <ng-container matColumnDef="Estatus">
        <th mat-header-cell *matHeaderCellDef> Estatus </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon" 
          fontIcon="check_circle"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>