<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>DTE EMISIONES MH</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
        Usuario
    </button>
    <button [matMenuTriggerFor]="lvl1master" mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="badge"></mat-icon>
        Admin
    </button>
    <mat-menu #lvl1master="matMenu">
        <button [matMenuTriggerFor]="company" mat-menu-item>Configurar</button>
        <!--  <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
        <button [matMenuTriggerFor]="product" mat-menu-item>Product</button> -->
    </mat-menu>

    <mat-menu #company="matMenu">
        <button mat-menu-item>Compania</button>
        <button mat-menu-item>Usuario</button>
        <button mat-menu-item routerLink="log-case">Log</button>
        <!-- <button mat-menu-item>Currency</button> -->
    </mat-menu>
    <!-- <mat-menu #customer="matMenu">
        <button mat-menu-item>Type</button>
        <button mat-menu-item>Tax</button>
    </mat-menu>
    <mat-menu #product="matMenu">
        <button mat-menu-item>Category</button>
        <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
        <button mat-menu-item>UOM</button>
    </mat-menu>

    <mat-menu #variant="matMenu">
        <button mat-menu-item>Color</button>
        <button mat-menu-item>Size</button>
    </mat-menu>
 -->
    <!-- <button routerLink="ToolBar" mat-button>Input</button>
    <button routerLink="autocomplete" mat-button>Autocomplete</button> -->
    <!-- <a href="" mat-raised-button color="accent">Join Us</a> -->
    <button (click)="badgevisibility()" mat-icon-button>
        <mat-icon matBadgeColor="accent" [matBadgeHidden]="badgevisible" matBadge="15"
            matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="proces-bill" mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="memory"></mat-icon>
                    Cargar Facturas
                </button>
            </mat-list-item>        
            <mat-list-item>
                <button routerLink="send-bill" mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="pending_actions"></mat-icon>
                    Enviar Facturas
                </button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="dte-bill" routerLinkActive="active" ariaCurrentWhenActive="page" mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done_all"></mat-icon>
                    Historico
                </button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="dte-bill" routerLinkActive="active" ariaCurrentWhenActive="page" mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="text_snippet"></mat-icon>
                    Reportes
                </button>
            </mat-list-item>
            <!-- <mat-list-item>
                <button routerLink="MenuTest" mat-button><mat-icon>table</mat-icon></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon> Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon> Help</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
            </mat-list-item> -->
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>

        <div style="text-align: center;min-height: 1024px;">
            <router-outlet></router-outlet>
            <!--  <router-outlet></router-outlet> -->
        </div>
    </mat-drawer-content>
</mat-drawer-container>